
body {background-color: aquamarine;
        margin: 60px auto;
        max-width: 800px;
      }
      
.logo {display: flex;
justify-content: center; 
padding: 0 50px 
}

.navigation-links{display:flex;
  justify-content:space-evenly;
  margin-top: 50px;
margin-bottom: 50px;}

p{margin: 50px;
text-align: center;}


  .croissant-picture {     max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;;}